h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.35;

  @media only screen and (min-width: 768px) {
    font-size: 44px;
    line-height: 1.09;
    margin-bottom: 32px;
  }
}

.favorites-content {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

#exerciseListEmpty {
  margin-top: -60px;
  max-width: 554px;
  margin-inline: auto;
  text-align: center;
  @media only screen and (min-width: 768px) {
    margin-top: 68px;
  }
  @media only screen and (min-width: 1440px) {
    margin-top: 114px;
  }
}

.quote-ill.favorites {
  width: 239px;
  height: 141px;
}

.quote-reccomendation.favorites {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  width: 239px;
  height: 141px;
}

.quote-rec-container.favorites {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}

.quote-reccomendation-title.favorites span {
  font-size: 24px;
}

.quote-icon.favorites {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 1440px) {
  .exercises-list-container.favorites {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 520px;
    padding-right: 16px;
  }
}

.exercises-list-container.favorites
  > .exercises-cards
  > .excercise-card-item
  > .card-header
  > .card-rating {
  display: none;
}

.remove-btn-icon {
  width: 16px;
  height: 16px;
}

.excercise-card-item {
  .card-header {
    gap: 8px;
  }
}
