/* mobile backdrop */
.backdrop {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgb(var(--cl-primary-dark) / 40%);
  transition: var(--tran-duration);
  transition-property: opacity, visibility;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}
.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 210px;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 280px;
  background-color: rgb(var(--cl-primary-dark));
  transform: translateX(100%);
  transition: transform var(--tran-duration);

  .backdrop.is-open & {
    transform: translateX(0);
  }
}

body:has(dialog),
body:has(.backdrop) {
  overflow-y: scroll;
}
body:has(dialog[open]),
body:has(.backdrop.is-open) {
  overflow-y: hidden;
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: rgb(var(--cl-primary-dark));

  .menu-container & {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(var(--cl-primary-light));
  }

  @media only screen and (min-width: 768px) {
    display: none;
  }
}
.menu-toggle-icon {
  stroke: currentColor;
}
/* mobile burger menu */
.on-hover:hover,
.on-hover:focus {
  transform: scale(1.1);
  transition: transform var(--tran-icon);
}

.menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.menu-link {
  text-align: center;
  color: rgb(var(--cl-primary-light));
}

.menu-socials {
  --color-icon: rgb(var(--cl-primary-light) / 80%);
  --color-icon-hover: rgb(var(--cl-primary-dark) / 80%);
  --color-bg: transparent;
  --color-bg-hover: rgb(var(--cl-primary-light));
  --color-frame: rgb(var(--cl-primary-light) / 10%);
  --color-frame-hover: transparent;
}
