.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
}
.pagination .pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font: var(--base-font);
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgb(var(--cl-gray));
  cursor: pointer;
  text-align: center;
}

.pagination .pagination-item.pagination-item-current {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 32px;
  height: 32px;
  color: rgb(var(--cl-primary-dark));
  border: 1px solid rgb(var(--cl-primary-dark));
  border-radius: 50%;
  cursor: default;
}
