.modal[data-modal='rating'] {
  max-width: 430px;
}
.rating-form {
  --gl-star-color: #eea10c;
  --gl-star-color-inactive: #f4f4f433;
  --gl-star-size: 18px;
  --gl-star-inner-size: 14px;

  [data-star-rating] {
    .gl-star-rating--stars > span {
      justify-content: center;
      align-items: center;
    }
    svg {
      height: var(--gl-star-inner-size);
      width: var(--gl-star-inner-size);
    }
  }
}
.rating-form-controls {
  margin-bottom: 32px;
}
.rating-form-caption {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.5;
  color: rgb(var(--cl-primary-light) / 40%);
}
.rating-form-rate {
  display: flex;
  align-items: center;
  gap: 2px;
}
.rating-form-value {
  min-width: 15px;
  font-size: 12px;
  font-weight: 1.5;
  font-optical-sizing: none;
  color: rgb(var(--cl-primary-light));
}
.rating-form-range {
}
.rating-form-info {
  margin-bottom: 20px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}
.rating-form-field {
  position: relative;
  display: block;
  width: 100%;
  color: rgb(var(--cl-primary-light) / 60%);

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  @media only screen and (min-width: 768px) {
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
}

.rating-form-input,
.rating-form-message {
  display: block;
  width: 100%;

  padding: 12px 14px;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(var(--cl-primary-light));
  border: 1px solid rgb(var(--cl-primary-light));

  &:not(:placeholder-shown):required:invalid {
    border-color: rgb(225, 44, 44);
  }
  &:not(:placeholder-shown):required:valid {
    border-color: rgb(102, 171, 102);
  }
}
.rating-form-input {
  height: 50px;
  border-radius: var(--radius-lg);

  &:focus + .rating-form-tag,
  &:not(:placeholder-shown) + .rating-form-tag {
    transform: translateY(calc(-100% - 6px)) translateX(8px) scale(0.8);
  }
}
.rating-form-tag {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%) scale(1);
  transform-origin: center;
  padding: 6px;
  color: rgb(var(--cl-primary-light) / 60%);
  background: rgb(var(--cl-primary-dark));
  transition: var(--transition);
}
.rating-form-message {
  height: 106px;
  border-radius: var(--radius);

  &::placeholder {
    color: rgb(var(--cl-primary-light) / 60%);
  }
}
.error-msg {
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);

  font-size: 11px;
  color: rgb(225, 44, 44);

  opacity: 0;
  transition: 300ms ease;
  transition-property: opacity;

  .rating-form-input:not(:placeholder-shown):invalid ~ &,
  .rating-form-message:not(:placeholder-shown):invalid ~ & {
    opacity: 1;
  }
}
.rating-form-btn {
  max-width: 100%;
}
