.scroll-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--cl-primary-dark));
  cursor: pointer;
  transition: var(--transition);
  transition-property: width, height;

  &:hover,
  &:focus {
    width: 100px;
    height: 100px;

    .scroll-icon {
      width: 33px;
      height: 33px;
    }
  }

  .scroll-icon {
    transition: var(--transition);
    transition-property: width, height;
    fill: rgb(var(--cl-primary-light));
  }
}
