/* #region Modifiers for pages*/
.quote.home-quote {
  .quote-icon {
    --cl-dumbbells: rgb(var(--cl-primary-light));

    width: 34px;
    height: 34px;
    background: rgb(var(--cl-primary-dark));
    border-radius: 50%;
  }

  .quote-ill {
    img {
      max-block-size: 397px;
      height: 397px;
      max-inline-size: 596px;
      width: 596px;
      object-position: -131px -11px;

      @media only screen and (min-width: 768px) {
        max-block-size: 402px;
        height: 402px;
        max-inline-size: 603px;
        width: 603px;
        object-position: -170px -8px;
      }
      @media only screen and (min-width: 1280px) {
        max-block-size: 457px;
        height: 457px;
        max-inline-size: 685px;
        width: 685px;
        object-position: -112px -6px;
      }
    }
  }
}

.quote.favorites-quote {
  grid-template-areas:
    'quote'
    'recommendation'
    'illustration';

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'quote quote'
      'recommendation illustration';
    gap: 16px;
  }

  .quote-block {
    grid-area: quote;
  }
  .quote-ill {
    grid-area: illustration;
    max-width: 335px;
    max-height: 119px;

    img {
      height: 255px;
      width: 381px;
      max-block-size: 255px;
      max-inline-size: 381px;
      object-position: 0 -11px;

      @media only screen and (min-width: 768px) {
        object-position: -10px -4px;
      }
      @media only screen and (min-width: 1440px) {
        object-position: -65px -6px;
      }
    }

    @media only screen and (min-width: 768px) {
      max-width: 344px;
      max-height: 141px;
    }
  }
  .quote-reccomendation {
    grid-area: recommendation;

    flex-direction: column;
    gap: 15px;

    @media only screen and (min-width: 768px) {
      padding: 25px;
    }
  }
  .quote-reccomendation-title {
    margin-bottom: 0;

    span {
      margin-bottom: 6px;
    }
  }
  .quote-icon {
    --cl-dumbbells-cirlce: transparent;
    --cl-dumbbells: rgb(var(--cl-primary-dark));

    width: 20px;
    height: 20px;
  }
}
/* #endregion */

.quote {
  display: grid;
  row-gap: 20px;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 400px 1fr;
    row-gap: 32px;
    column-gap: 16px;
  }

  @media only screen and (min-width: 1280px) {
    max-width: 444px;
    grid-template-columns: 1fr;
    flex-shrink: 0;
    order: -1;
  }
}
.quote-block {
  position: relative;
  display: flex;
  gap: 18px;
  padding: 20px;
  background: rgb(var(--cl-primary-dark));
  border-radius: var(--radius-md);

  @media only screen and (min-width: 768px) {
    padding: 40px;
  }
}
.quote-body {
  position: relative;
}
.quote-title {
  color: rgb(var(--cl-primary-light));
  margin-bottom: 8px;
}
.quote-desc {
  margin-bottom: 16px;
  font-size: 14px;
  color: rgb(var(--cl-primary-light) / 60%);

  @media only screen and (min-width: 768px) {
    margin-bottom: 18px;
  }

  @media only screen and (min-width: 1440px) {
    margin-bottom: 8px;
  }
}
.quote-author {
  font-size: 14px;
  color: rgb(var(--cl-primary-light));
}
.quote-icon {
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-commas {
  position: absolute;
  top: 20px;
  right: 20px;
  fill: rgb(var(--cl-primary-light));

  @media only screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
    top: 40px;
    right: 40px;
  }
}
.quote-ill {
  overflow: hidden;
  border-radius: var(--radius-md);
  max-height: 242px;

  @media only screen and (min-width: 768px) {
    max-height: 249px;
  }

  img {
    object-position: center;
    aspect-ratio: 1 / 1;
  }
}
.quote-reccomendation {
  display: flex;
  gap: 16px;
  padding: 20px;
  background: rgb(var(--cl-white));
  border-radius: var(--radius-md);

  @media only screen and (min-width: 768px) {
    padding: 40px;
  }
}
.quote-reccomendation-body {
}
.quote-reccomendation-title {
  margin-bottom: 16px;
  font-size: 14px;
  color: rgb(var(--cl-primary-dark) / 60%);

  @media only screen and (min-width: 768px) {
    margin-bottom: 20px;
  }

  span {
    display: block;
    margin-bottom: 2px;

    font-size: 20px;
    color: rgb(var(--cl-primary-dark));
    font-weight: 500;
    line-height: 1;

    @media only screen and (min-width: 768px) {
      font-size: 24px;
      line-height: 1.33;
    }
  }
}
.quote-reccomendation-desc {
  font-size: 14px;

  @media only screen and (max-width: 1439px) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
}
.quote-rec-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
