/* .exercises-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

.excercise-card-item {
  max-width: 100%;
  border: none;
  border-radius: 15px;
  padding: 16px;
  background-color: rgb(var(--cl-white));
}

.excercise-card-item .card-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 16px;
  margin-bottom: 25px;
}

.excercise-card-item .card-category {
  font: 500 12px var(--base-font);
  color: rgb(var(--cl-primary-dark));
  border: 1px solid rgb(var(--cl-primary-dark));
  border-radius: 15px;
  padding: 5px 8px;
  /* width: 76px; */
  /* height: 26px; */
  text-transform: uppercase;
}

.excercise-card-item .card-rating {
  display: flex;
  align-items: center;
  gap: 2px;
}
.excercise-card-item .card-rating .rating-value {
  /* margin-left: 5px; */
  font: 400 12px / 150% var(--base-font);
  color: rgb(var(--cl-primary-dark));
}
.excercise-card-item .card-rating .rating-icon {
  color: rgb(var(--fill-star));
}
.excercise-card-item .start-button {
  cursor: pointer;
  margin-left: auto;
  color: rgb(var(--cl-primary-dark));
  display: flex;
  align-items: center;
  gap: 8px;
}
.excercise-card-item .start-button .start-button-text {
  font: 400 14px / 129% var(--base-font);
}

.excercise-card-item .card-body {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
  align-items: top;
}

.excercise-card-item .card-icon {
  margin-top: 4px;
}

.excercise-card-item .card-title {
  font: 400 24px / 133% var(--base-font);
  color: rgb(var(--cl-primary-dark));
}

.excercise-card-item .card-details-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 16px;
}

.excercise-card-item .card-details-item {
  font: 400 12px / 150% var(--base-font);
}

.excercise-card-item .card-details-title {
  color: rgb(var(--cl-primary-dark) / 40%);
}

.excercise-card-item .card-details-value {
  color: rgb(var(--cl-primary-dark));
}

.start-arrow {
  stroke: rgb(var(--cl-primary-dark));
}
