.exercises-header {
  color: rgb(var(--cl-primary-dark));
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}

.exercises-filter-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.exercises-filter-button:focus {
  outline: none;
}

.exercises-filters {
  display: flex;
  justify-content: flex-start;

  @media only screen and (min-width: 768px) {
    justify-content: flex-end;
  }

  @media only screen and (min-width: 1280px) {
    justify-content: flex-end;
  }
}

.exercises-filter-list {
  display: flex;
  gap: 20px;
}

.exercises-filter-button {
  color: rgb(var(--cl-primary-dark));
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.exercises-filter-list li {
  position: relative;
  margin-bottom: 4px;
}

.exercises-filter-list li.exercises-filter-item-active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background: rgb(var(--cl-primary-dark));
}

.exercises-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 20px;

  @media only screen and (min-width: 768px) {
    gap: 64px;
    margin-top: 32px;
  }

  @media only screen and (min-width: 1280px) {
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 32px;
  }
}

.exercises-categories {
  @media only screen and (min-width: 1280px) {
    width: calc(100% - 444px - 32px);
  }

  ul {
    display: grid;
    row-gap: 20px;

    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 32px;
      column-gap: 15px;
    }
  }

  li {
    width: 100%;
    aspect-ratio: 3 / 2;

    @media only screen and (min-width: 768px) {
      aspect-ratio: 1 / 1;
    }

    @media only screen and (min-width: 1280px) {
      aspect-ratio: 6 / 5;
    }
  }
}

.exercises-list-container {
  @media only screen and (min-width: 1280px) {
    width: calc(100% * 0.667 - 40px);
  }

  .exercises-cards {
    display: grid;
    row-gap: 20px;

    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 32px;
      column-gap: 16px;
    }
  }

  .excercise-card-item {
    width: 100%;
  }
}
