<section class="exercises">
  <div class="container">
    <h2 class="exercises-header">Exercises</h2>
    <div class="exercises-filters">
      <ul class="exercises-filter-list">
        <li class="exercises-filter-item exercises-filter-item-active"><button class="exercises-filter-button">Muscles</button></li>
        <li class="exercises-filter-item"><button class="exercises-filter-button">Body parts</button></li>
        <li class="exercises-filter-item"><button class="exercises-filter-button">Equipment</button></li>
      </ul>
    </div>
    <div class="quote-of-the-day">
      <div class="quote-of-the-day-running-man-container">
        <svg class="quote-of-the-day-running-man">
            <use href="./assets/icons.svg#running-man"></use>
        </svg>
      </div>
      <div class="quote-of-the-day-container">
        <h3 class="quote-of-the-day-title">Quote of the day</h3>
        <div class="quote-of-the-day-description">A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones who aren't blessed in that way are the most competitive and have the biggest heart.</div>
        <div class="quote-of-the-day-author">Tom Brady</div>
        <svg class="quote-of-the-day-commas">
            <use href="./assets/icons.svg#commas"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
