<section class="favorites">
  <div class="container">
    <h2>{=$text}</h2>

    <div class="exercises-container">
      <div class="exercises-list-container favorites">
        <ul class="exercises-cards" id="exerciseList"></ul>
        <p id="exerciseListEmpty" class="visually-hidden">
          It appears that you haven't added any exercises to your favorites yet.
          To get started, you can add exercises that you like to your favorites
          for easier access in the future.
        </p>
      </div>

      <load
        file="/templates/exercises/blockquote.html"
        favorites-page-class="favorites"
        favorites-page-hidden="visually-hidden"
        recomendation-icon="./assets/icons.svg#dumbbells-no-bg"
      />
    </div>
  </div>
</section>
<load file="/templates/exercises/excercise-card.html" />
<load file="/templates/exercises/excercise-card-detail.html" />
