<footer class="footer">
  <div class="container">
    <div class="upper-container">
      <div class="links-container">
        <div class="logo-container">
          <a href="./index.html" class="logo">
            <svg width="132" height="24">
              <use href="assets/icons.svg#logo"></use>
            </svg>
          </a>
        </div>
        <ul class="socials-container">
          <li class="socials-item">
            <a class="socials-link" href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener norefferer"
              aria-label="Facebook">
              <svg width="24" height="24">
                <use href="assets/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a class="socials-link" href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener norefferer"
              aria-label="Instagram">
              <svg width="24" height="24">
                <use href="assets/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a class="socials-link" href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener norefferer"
              aria-label="Youtube">
              <svg width="24" height="24">
                <use href="assets/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="subscription-container">
        <h2 class="subscription-title">Transforming your <i>body</i> shape with us</h2>
        <form class="subscription-form" id="subscribtionForm">
          <h3 class="subscription-form-title">
            Subscribe and learn about new exercises!
          </h3>
          <input class="subscription-form-email" type="email" name="email" placeholder="Email" required />
          <button class="subscription-form-btn" type="submit" id="subscribtionFormBtn">
            Send
          </button>
        </form>
      </div>
    </div>
    <div class="rights-container">
      <div class="rights-text">
        Your Energy. All rights reserved.
      </div>
      <div class="privacy-copyright-container">
        <div class="privacy-text">
          Privacy Policy &sol; Terms of Service
        </div>
        <div class="year-copyright-text">&copy;2023</div>
      </div>
    </div>
  </div>
</footer>