<section class="hero-container">
  <div class="">
    <div class="">
      <div class="hero-title">
        <h2>
          <svg width="38" height="38" class="">
            <use xlink:href="/assets/icons.svg#sun" />
          </svg>
          Get <strong class="text-strong">Body</strong> in shape, Stay healthy
        </h2>
      </div>
      <p class="text-under-hero-title">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>
    <div class="under-section-web">
      <picture class="little-img">
        <source
          srcset="
            /images/img-above-tags-1.webp,
            images/img-above-tags-1-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="images/img-above-tags-1 1x, images/img-above-tags-1-2x 2x"
          type="image/png"
        />
        <img
          src="images/img-above-tags-1.png"
          srcset="
            images/img-above-tags-1.png    1x,
            images/img-above-tags-1-2x.png 2x
          "
          width="168"
          height="100"
          alt="Sports tags"
        />
      </picture>
    </div>
    <div class="tags-web">
      <ul class="tags-container-web">
        <li>#Sport</li>
        <li>#Healthy</li>
        <li>#Workout</li>
        <li>#Diet</li>
      </ul>
    </div>
    <div class="big-img-container">
      <picture>
        <source
          srcset="/images/hero-1.png, /images/hero-2x.png 2x"
          type="image/png"
        />
        <img
          src="/images/hero.jpg"
          srcset="/images/hero-1.png 1x, /images/hero-2x.png 2x"
          alt="Sporty girls"
          class="big-img"
          width="1376"
          height="350"
        />
      </picture>
      <picture>
        <source
          srcset="/images/hero-mobile-1.png, images/hero-mobile-2.png 2x"
          type="image/png"
        />
        <img
          src="/images/hero.jpg"
          srcset="/images/hero-mobile-1.png 1x, /images/hero-mobile-2x.png 2x"
          alt="Sporty girls"
          width="335"
          height="460"
          class="big-img-mobile"
        />
      </picture>
      <picture>
        <source
          srcset="/images/hero-tablet-1.webp, /images/hero-tablet-2x.webp 2x"
          type="image/webp"
        />
        <img
          src="images/hero.jpg"
          srcset="images/hero-tablet-1.webp 1x, images/hero-tablet-2x.webp 2x"
          alt="Sporty girls"
          width="704"
          height="505"
          class="big-img-tablet"
        />
      </picture>
    </div>
    <div class="tags">
      <ul class="tags-container">
        <li>#Sport</li>
        <li>#Healthy</li>
        <li>#Workout</li>
        <li>#Diet</li>
      </ul>
    </div>
  </div>
</section>
