<article class="quote {=$block-place}">
  <h2 class="visually-hidden">Quote of the day</h2>
  <div class="quote-block">
    <svg class="quote-icon" width="34" height="32">
      <use href="./assets/icons.svg#running-man"></use>
    </svg>
    <blockquote class="quote-body" cite="">
      <h3 class="quote-title">Quote of the day</h3>
      <p class="quote-desc">
        A lot of times I find that people who are blessed with the most talent
        don't ever develop that attitude, and the ones who aren't blessed in
        that way are the most competitive and have the biggest heart.
      </p>
      <footer class="quote-author">Tom Brady</footer>
      <svg class="quote-commas" width="20" height="20">
        <use href="./assets/icons.svg#commas"></use>
      </svg>
    </blockquote>
  </div>
  <div class="quote-rec-container">
    <div class="quote-ill">
      <picture>
        <source
          srcset="{=$page-img}.avif 1x, {=$page-img}@2x.avif 2x"
          type="image/avif"
        />
        <source
          srcset="{=$page-img}.webp 1x, {=$page-img}@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="{=$page-img}.jpg 1x, {=$page-img}@2x.jpg 2x"
          type="image/jpg"
        />
        <img
          src="{=$page-img}.jpg"
          alt=""
          width="335"
          height="242"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="quote-reccomendation">
      <svg class="quote-icon" width="34" height="34">
        <use href="./assets/icons.svg#dumbbells"></use>
      </svg>
      <div class="quote-reccomendation-body">
        <h3 class="quote-reccomendation-title">
          <span>110 min</span>
          Daily norm of sports
        </h3>
        <p class="quote-reccomendation-desc {=$is-text-hidden}">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day? While it might seem like a high number to hit,
          dedicating 110 minutes daily to sporting activities may offer
          unparalleled benefits to physical health, mental well-being, and
          overall quality of life.
        </p>
      </div>
    </div>
  </div>
</article>
