<template class="js-exercise-card" id="excercise-card-template">
  <li class="card excercise-card-item">
    <div class="card-header">
      <div class="card-category"></div>
      <div class="card-rating">
        <span class="rating-value"></span>
        <svg class="rating-icon" width="18" height="18" viewBox="0 0 34 32">
          <path
            d="M15.24 1.561c.504-1.552 2.699-1.552 3.204 0l2.558 7.872a1.684 1.684 0 0 0 1.602 1.164h8.277c1.632 0 2.31 2.088.99 3.047l-6.696 4.865a1.685 1.685 0 0 0-.612 1.883l2.558 7.872c.504 1.552-1.272 2.842-2.592 1.883l-6.696-4.865a1.684 1.684 0 0 0-1.98 0l-6.696 4.865c-1.32.959-3.096-.331-2.592-1.883l2.558-7.872a1.685 1.685 0 0 0-.612-1.883l-6.696-4.865c-1.32-.959-.642-3.047.99-3.047h8.277c.73 0 1.376-.47 1.602-1.164l2.558-7.872z"
          />
        </svg>
      </div>
      <button class="start-button">
        <span class="start-button-text">Start</span>
        <svg class="start-arrow" width="16" height="16" viewBox="0 0 15 15">
          <path d="M7.5 14L14 7.5M14 7.5L7.5 1M14 7.5H1" />
        </svg>
      </button>
    </div>
    <div class="card-body">
      <svg class="card-icon" width="24" height="24">
        <use href="./assets/icons.svg#running-man"></use>
      </svg>
      <div class="card-title"></div>
    </div>
    <ul class="card-details-list"></ul>
  </li>
</template>
