<section class="exercises">
  <div class="container">
    <h2 class="exercises-header">Exercises</h2>
    <div class="exercises-filters">
      <ul class="exercises-filter-list">
        <li class="exercises-filter-item exercises-filter-item-active">
          <button class="exercises-filter-button">Muscles</button>
        </li>
        <li class="exercises-filter-item">
          <button class="exercises-filter-button">Body parts</button>
        </li>
        <li class="exercises-filter-item">
          <button class="exercises-filter-button">Equipment</button>
        </li>
      </ul>
    </div>
    <div class="exercises-container">
      <div class="exercises-categories" data-exercise>
        <template
          file="/templates/exercises/category.html"
          category-modal="exercise"
          id="64f389465ae26083f39b1ab2"
        />
        <template
          file="/templates/exercises/category.html"
          category-modal="exercise"
          id="64f389465ae26083f39b17b3"
        />
        <template
          file="/templates/exercises/category.html"
          category-modal="exercise"
          id="64f389465ae26083f39b17bf"
        />
      </div>

      <template file="/templates/exercises/blockquote.html" />
    </div>
  </div>
</section>
