@font-face {
  font-family: 'DM Sans';
  src:
    url('../../assets/fonts/DMSans.woff2') format('woff2'),
    url('../../assets/fonts/DMSans.ttf') format('truetype');
  font-optical-sizing: none;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src:
    url('../../assets/fonts/DMSans-Italic.woff2') format('woff2'),
    url('../../assets/fonts/DMSans-Italic.ttf') format('truetype');
  font-optical-sizing: none;
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
