<!-- This is an example for rendering exercise datails in modal window -->

<div class="modal-ill">
  <img
    src="./assets/images/exercises/img-1.jpg"
    alt="Exercise animated image"
    width="295"
    height="258"
    loading="lazy"
  />
</div>
<div class="modal-details">
  <h2 class="modal-caption">Air bake</h2>
  <div class="modal-rating">
    <p>4.0</p>
    <select class="star-rating">
      <option value="">Select a rating</option>
      <option value="5">Excellent</option>
      <option value="4">Very Good</option>
      <option value="3">Average</option>
      <option value="2">Poor</option>
      <option value="1">Terrible</option>
    </select>
  </div>
  <ul class="modal-meta">
    <li>
      <h3 class="modal-meta-caption">Target</h3>
      <p class="modal-meta-info">Abs</p>
    </li>
    <li>
      <h3 class="modal-meta-caption">Body Part</h3>
      <p class="modal-meta-info">Waist</p>
    </li>
    <li>
      <h3 class="modal-meta-caption">Equipment</h3>
      <p class="modal-meta-info">Body weight</p>
    </li>
    <li>
      <h3 class="modal-meta-caption">Popular</h3>
      <p class="modal-meta-info">150</p>
    </li>
    <li>
      <h3 class="modal-meta-caption">Burned Calories</h3>
      <p class="modal-meta-info">323/3 min</p>
    </li>
  </ul>
  <p class="modal-desc">
    This refers to your core muscles, which include the rectus abdominis,
    obliques, and transverse abdominis. They're essential for maintaining
    posture, stability, and generating force in many movements. Exercises that
    target the abs include crunches, leg raises, and planks.
  </p>
</div>
