<dialog class="modal {=$current-page}" data-modal="exercise">
  <button class="modal-close-btn" type="button" data-modal-close>
    <svg class="modal-btn-icon" width="24" height="24">
      <use href="./assets/icons.svg#x-mark"></use>
    </svg>
  </button>

  <div class="modal-body"></div>

  <div class="modal-controls">
    <button class="modal-btn filled" type="button" data-add-favourites>
      <span>Add to favorites</span>
      <svg class="modal-btn-icon" width="18" height="18">
        <use class="heart" href="./assets/icons.svg#heart"></use>
        <use class="trash" href="./assets/icons.svg#trash"></use>
      </svg>
    </button>
    <button class="modal-btn" type="button" data-rating-open>
      Give a rating
    </button>
  </div>
</dialog>
