<dialog class="modal" data-modal="exercise">
  <button class="modal-close-btn" type="button" data-modal-close>
    <svg class="modal-btn-icon" width="24" height="24">
      <use href="./assets/icons.svg#x-mark"></use>
    </svg>
  </button>

  <div class="modal-body">
    <!-- <div class="modal-ill">
      <img
        src="./assets/images/exercises/img-1.jpg"
        alt="Exercise animated image"
        width="295"
        height="258"
        loading="lazy"
      />
    </div>
    <div class="modal-details">
      <h2 class="modal-caption">Air bake</h2>
      <div class="modal-rating">
        <p>4.0</p>
        <svg width="98" height="13" id="rating-stars">
          <use style="--shift: -2" href="./assets/icons.svg#star"></use>
          <use style="--shift: -1" href="./assets/icons.svg#star"></use>
          <use style="--shift: 0" href="./assets/icons.svg#star"></use>
          <use style="--shift: 1" href="./assets/icons.svg#star"></use>
          <use style="--shift: 2" href="./assets/icons.svg#star"></use>
        </svg>
      </div>
      <div class="modal-rating">
        <p>4.0</p>
        <svg width="98" height="13" id="rating-stars">
          <use style="--shift: -2" href="./assets/icons.svg#star"></use>
          <use style="--shift: -1" href="./assets/icons.svg#star"></use>
          <use style="--shift: 0" href="./assets/icons.svg#star"></use>
          <use style="--shift: 1" href="./assets/icons.svg#star"></use>
          <use style="--shift: 2" href="./assets/icons.svg#star"></use>
        </svg>
      </div>
      <ul class="modal-meta">
        <li>
          <h3 class="modal-meta-caption">Target</h3>
          <p class="modal-meta-info">Abs</p>
        </li>
        <li>
          <h3 class="modal-meta-caption">Body Part</h3>
          <p class="modal-meta-info">Waist</p>
        </li>
        <li>
          <h3 class="modal-meta-caption">Equipment</h3>
          <p class="modal-meta-info">Body weight</p>
        </li>
        <li>
          <h3 class="modal-meta-caption">Popular</h3>
          <p class="modal-meta-info">150</p>
        </li>
        <li>
          <h3 class="modal-meta-caption">Burned Calories</h3>
          <p class="modal-meta-info">323/3 min</p>
        </li>
      </ul>
      <p class="modal-desc">
        This refers to your core muscles, which include the rectus abdominis,
        obliques, and transverse abdominis. They're essential for maintaining
        posture, stability, and generating force in many movements. Exercises
        that target the abs include crunches, leg raises, and planks.
      </p>
    </div> -->
  </div>

  <div class="modal-controls">
    <button class="modal-btn filled" type="button" data-add-favourites>
      <span>Add to favorites</span>
      <svg class="modal-btn-icon" width="18" height="18">
        <use class="heart" href="./assets/icons.svg#heart"></use>
        <use class="trash" href="./assets/icons.svg#trash"></use>
      </svg>
    </button>
    <!-- <button class="modal-btn" type="button" data-rating-open>
      Give a rating
    </button> -->
  </div>
</dialog>
