<dialog class="modal" data-modal="rating">
  <button class="modal-close-btn" type="button" data-modal-close="rating">
    <svg class="modal-btn-icon" width="24" height="24">
      <use href="./assets/icons.svg#x-mark"></use>
    </svg>
  </button>

  <form class="modal-rating-form rating-form" name="ratingForm">
    <fieldset class="rating-form-controls" name="ratingFormStars">
      <legend class="rating-form-caption">Rating</legend>
      <div class="rating-form-rate">
        <p class="rating-form-value">0.0</p>
        <select class="rating-form-star" required>
          <option value="">Select a rating</option>
          <option value="5">Excellent</option>
          <option value="4">Very Good</option>
          <option value="3">Average</option>
          <option value="2">Poor</option>
          <option value="1">Terrible</option>
        </select>
      </div>
    </fieldset>
    <fieldset class="rating-form-info">
      <legend class="visually-hidden">Rating form information</legend>
      <label class="rating-form-field">
        <input
          class="rating-form-input"
          type="email"
          name="ratingEmail"
          placeholder="&nbsp;"
          required
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          title="Please enter a valid email address"
        />
        <span class="rating-form-tag">Email</span>
        <span class="error-msg">Please enter a valid email address</span>
      </label>
      <label class="rating-form-field">
        <textarea
          class="rating-form-message"
          name="ratingMessage"
          placeholder="Your comment"
          required
          minlength="7"
          title="Comment must be 7 chars long"
        ></textarea>
        <span class="error-msg">Comment must be 7 chars long</span>
      </label>
    </fieldset>
    <button class="modal-btn filled rating-form-btn" type="submit">Send</button>
  </form>
</dialog>
