h1 {
  font-size: 38px;
  font-weight: 400;
  line-height: 1.15;

  @media only screen and (min-width: 768px) {
    font-size: 74px;
    line-height: 1;
  }

  span {
    font-style: italic;
  }
}

h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.35;

  @media only screen and (min-width: 768px) {
    font-size: 44px;
    line-height: 1.09;
  }
}

h3 {
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;

  @media only screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.33;
  }
}
